<manifest
		xmlns:tools="http://schemas.android.com/tools"
		package="net.twisterrob.lints.usability.GoogleAppIndexingWarning"
		>

	<application tools:ignore="AllowBackup,MissingApplicationIcon">
		<!-- lint:AllowBackup irrelevant for this violation -->
		<!-- lint:MissingApplicationIcon irrelevant for this violation -->
	</application>

</manifest>
