<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.twisterrob.lints.correctness.Instantiatable"
		>

	<application>

		<!-- Note: this was the easiest way to trigger a reference to the classes. -->

		<activity android:name="net.twisterrob.lints.correctness.InstantiatableViolationNoDefaultConstructor" />

		<activity android:name="net.twisterrob.lints.correctness.InstantiatableViolationNonPublicConstructor" />

		<activity android:name="net.twisterrob.lints.correctness.InstantiatableViolationNonStaticInnerClass$Inner" />

		<activity android:name="net.twisterrob.lints.correctness.InstantiatableViolationNonPublicClass$Inner" />

	</application>

</manifest>
