<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:tools="http://schemas.android.com/tools"
		>

	<application
			android:name=".MissingApp"
			tools:ignore="MissingApplicationIcon"
			>
		<!-- lint:MissingApplicationIcon irrelevant for this violation -->

		<activity android:name=".MissingActivity" />

		<service android:name=".MissingService" />

		<receiver android:name=".MissingReceiver" />

		<provider
				android:name=".MissingProvider"
				android:authorities="${applicationId}"
				android:exported="false"
				/>

	</application>

</manifest>
